<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.popupMenus">

		<objectContribution objectClass="org.eclipse.core.resources.IProject"
			adaptable="true" id="org.tmatesoft.projectContributions">

			<filter name="projectNature" value="org.eclipse.jdt.core.javanature">
			</filter>

			<menu
         id="org.tmatesoft.projectMenu"
         label="TMate Software"
         path="additions">
				<groupMarker name="additions">
				</groupMarker>
			</menu>

			<action label="Split refactoring"
				class="org.tmatesoft.refactoring.split.actions.SplitRefactoringAction"
				menubarPath="org.tmatesoft.projectMenu/additions" id="tmate.SplitAction">
			</action>

		</objectContribution>

	</extension>


</plugin>
